body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kek {
  margin: 10px;
  width: 30px;
  height: 30px;
  background-color: #000;
  animation: kek 1s infinite ease-in-out;
}

@keyframes kek {
  to {
    transform: rotateZ(180deg);
  }
}
.long {
  animation: kek 1s infinite ease-in-out;
  animation-direction: reverse;
}