body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini-container {
  position: absolute;
  width: 100px;
  animation: pek 2s infinite linear;
  animation-direction: reverse;
}

.mini-container2 {
  position: absolute;
  width: 300px;
  height: 300px;
  animation: pek 4s infinite linear;
}

.mini-container2 .kek{
  margin: 60px;
  animation-direction: reverse;
}

.row {
  display: flex;
}

.kek {
  margin: 10px;
  width: 30px;
  height: 30px;
  background-color: #000;
  animation: kek 1s infinite linear;
}

@keyframes kek {
  to {
    transform: rotateZ(180deg);
  }
}

@keyframes pek {
  to {
    transform: rotateZ(180deg);
  }
}